{{ asset_add("styles.css", "anomaly.extension.video_block::scss/block.scss") }}

<div class="video__wrapper">
    {{ block.video.iframe.autoplay(block.autoplay.value).showinfo(block.show_info.value)|raw }}
</div>
